* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

#toutiao_H {
  width: 100%;
  border: 1px solid yellow;
}

#gjNew2 {
  width: 100%;
}

#gjNew2 ul {
  width: 100%;
}

#gjNew2 ul li {
  width: 100%;
}

#gjNew2 ul li a {
  width: 100%;
  display: block;
}

#gjNew2 ul li a div {
  width: 100%;
  display: flex;
}

#gjNew2 ul li a div div:nth-child(1) {
  display: flex;
  flex: 1.3;
  border: 1px solid yellow;
}

#gjNew2 ul li a div div:nth-child(1) img {
  width: 100%;
  height: 100%;
}

#gjNew2 ul li a div div:nth-child(2) {
  display: flex;
  flex: 2.7;
  border: 1px solid red;
}

#gjNew2 ul li a div div:nth-child(2) h3 {
  height: 3em;
  font-size: 2em;
}
