*{
    margin: 0;
    padding: 0;
    border: none;
    font-size:62.5%;
}
a{
    text-decoration: none;
     color: #666;
     font-size: 1.6em;
}
#toutiao_H{
      width: 100%;
      border: 1px solid yellow;
}
#gjNew2{
      width: 100%;
      ul{
           width: 100%;
           li{
                width: 100%;
                a{
                     width: 100%;
                     display: block;
                        div{
                            width: 100%;
                             display: flex;
                              div{
                                  &:nth-child(1){
                                        display: flex;
                                        flex: 1.3;
                                        border: 1px solid yellow;
                                           img{
                                               width: 100%;
                                               height: 100%;
                                           }
                                  }
                                  &:nth-child(2){
                                       display: flex;
                                       flex: 2.7;
                                       border: 1px solid red;
                                             h3{
                                                 height:3em;
                                                 font-size: 2em;
                                             }
                                  }
                      }
                    }
                     
                }
           }
      }
}

/*体育新闻css*/
section{
    width: 100%;
        #tiyu_T{
              display: flex;
                  span{
                      display: flex;
                          height: 4em;
                          align-items:center; 
                      &:nth-child(1){
                            flex: 6;                         
                              a{
                                  font-size:2.6em;
                                  color: #129bf0;
                                  font-weight:600;
                              }
                      } 
                       &:nth-child(2){
                            flex: 1.5;                           
                                a{
                                  font-size:2em;
                                  color: #129bf0;
                                   font-weight:600;
                              }
                      } 
                       &:nth-child(3){
                            flex: 1.5;                        
                                a{
                                  font-size:2em;
                                  color: #129bf0;
                                   font-weight:600;
                              }
                      } 
                       &:nth-child(4){
                            flex: 1.5;                           
                               a{
                                  font-size:2em;
                                  color: #129bf0;
                                   font-weight:600;
                              }
                      } 
                  }
        }
         #tiyu_M{
            width: 100%;
            height: 215px;
            border: 1px solid green;
                 .swiper-wrapper{
                       width: 100%;
                          .swiper-slide{
                               border: 1px solid red;                         
                                   img{
                                         width: 100%;
                                         height: 100%;
                                   }  
                          }
                 }
                      
        }

}









































